<header>
    <h1 style="text-align:center;">Progressive Web Applications</h1>
</header>

{% block 'content' %} {% endblock 'content' %}

<footer>
    <p style="text-align:center;">powered by Django</p>
</footer>

<script>
console.log("Hello");
    if ('serviceWorker' in navigator) {
        console.log("service worker function avilable");
        window.addEventListener('load', function() {
            console.log("Will the service worker register?");
       navigator.serviceWorker.register("{% url 'sw.js' %}") .then(function(reg){
           console.log("service worker rigistered");
        
        }).catch(function(err) {
          console.log("service worker didn't", err)
           console.log("err.message:", err.message)
       });        
    });


    }
    
   </script>
